.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    grid-template-areas:
    "header header "
    "nav  content";
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background-color: rosybrown;
}

.nav {
    grid-area: nav;
    background-color: cadetblue;
}

.content {
    grid-area: content;
    background-color: aqua;
}

.header img {
    width: 40px;
}

.imgContent {
    width: 350px;
height: 140px;
}